{% extends 'layout.twig' %}


{% block body %}
    <h1>{{title}}</h1>
    {#{{ dump(data) }}#}
    <ul>
        {% for item in data %}
            <li><a href="/products/{{ item.id }}">{{item.name}} : {{item.priceEur}}€</a></li>
        {% endfor %}
    </ul>
{#    <ul>
      <li>
            first element
        </li>
        <li>
            second element
        </li>
        <li>
            3rd element
        </li>
        <li>
            4 element
        </li>
        <li>
            4 element
        </li>
    </ul>#}
{% endblock %}
